        <footer id="footer">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-lg-2 col-md-offset-2 col-sm-offset-2">
                        <h4>Liens</h4>
                        <p>
                            <a href="/contact">Contact</a>
                            <br/>
                            <a target="_blank" href="https://twitter.com/JDApps">@JDApps</a>
                            <br/>
                            <a target="_blank" href="https://twitter.com/DrecqJulien">@DrecqJulien</a>
                            <br/>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h4>A propos de <a href="/">JDAPPS.fr</a></h4>
                        <p>
                            {{ site.time | date: '%Y' }} © Tous droits réservés
                            <br />
                            <a href="/mentions-legales">Mentions légales</a>
                            -
                            <a href="/confidentialite">Confidentialité</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="/assets/js/bootstrap.min.js"></script>

    </body>
</html>